{{#if details.searchObject}}
  <h1 class="p-title">
      {{fa-icon "info" fixedWidth=true}}  Select a Search to Execute
  </h1>
  {{#each details.searchObject as |search|}}
    {{#if search.name}}
      <div><a class="p-link" href={{search.urls}}> {{search.name}}</a></div>
    {{/if}}
  {{/each}}
{{/if}}
